<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/nav.ejs'); %>
        
        <div class="blogs content">
            <p>I pity the fool that puts in the wrong url.</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs'); %>
</html>