<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/nav.ejs'); %>
        
        <div class="blogs content">
            <h2>About us</h2>
            <p>This is just a sample about page.</p>
            <p>There really isn't anything of interest here.</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs'); %>
</html>