<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/nav.ejs'); %>
        
        <div class="create-blog content">
           <form>
                <label for="title">Blog Title:</label>
                <input type="text" id="title" required="true" />
                <label for="snippet">Blog Snippet:</label>
                <input type="text" id="snippet" required="true" />
                <label for="body">Blog Body:</label>
                <textarea id="body" required="true"></textarea>
                <button>Submit</button>
           </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs'); %>
</html>